In [71]:
# 31 1 2 2 0 0 2302 36 5
# 32 1 2 1 0 1 2273 36 3

In [72]:
import pandas as pd
import torch.nn as nn
import torch

import copy

import numpy as np

class RiskClassifier(nn.Module):
    def __init__(self):
        super().__init__()
        self.hidden1 = nn.Linear(9, 16)
        self.act1 = nn.ReLU()
        self.hidden2 = nn.Linear(16, 32)
        self.act2 = nn.ReLU()
        self.hidden3 = nn.Linear(32, 64)
        self.act3 = nn.ReLU()
        self.output = nn.Linear(64, 1)
        self.act_output = nn.Sigmoid()

    def forward(self, x):
        x = self.act1(self.hidden1(x))
        x = self.act2(self.hidden2(x))
        x = self.act3(self.hidden3(x))
        x = self.act_output(self.output(x))
        return x
    
    
def load_model():
    model = torch.load('model_training/credit_risk_model')
    model.eval()
    return model

def eval_model(model, input):
    # print(input)
    with torch.no_grad():
        prob = model(input)
    return prob.tolist()[0]


def load_data(data):
    return np.load(data)

In [73]:
data = pd.read_csv('output/NSGAIII_plausible/7/final_gen.csv')

In [74]:
input = load_data('output/NSGAIII_plausible/7/input_data.npy')
model = load_model()
print(input)

[  31    1    2    2    0    0 2302   36    5]

In [75]:
output = eval_model(model, torch.tensor(input, dtype=torch.float32))
print(output)

0.443714439868927

In [76]:
data.head(10)

,Unnamed: 0,Phenotype,o_1,o_2,o_3,o_4
0,0,x[7] -= 6 ; x[6] *= 1.0 ; x[7] -= 8 ; x[7] -= ...,0.365933,0.365933,0.365933,0.365933
1,1,x[7] -= 8 ; x[6] += 500 ; x[7] += 4,0.506947,0.506947,0.506947,0.506947
2,2,x[7] -= 7 ; x[7] -= 4,0.466225,0.466225,0.466225,0.466225
3,3,x[7] -= 6 ; x[6] *= 1.0 ; x[7] -= 8 ; x[7] -= ...,0.365866,0.365866,0.365866,0.365866
4,4,x[7] -= 6 ; x[7] -= 8 ; x[7] -= 7 ; x[6] += 0....,0.307164,0.307164,0.307164,0.307164
5,5,x[7] -= 8 ; x[7] -= 8 ; x[2] += 1,0.418752,0.418752,0.418752,0.418752
6,6,x[6] -= 1000 ; x[6] += 1000,0.556286,0.556286,0.556286,0.556286
7,7,x[7] -= 6 ; x[6] *= 1.0 ; x[7] -= 4 ; x[6] *= ...,0.497273,0.497273,0.497273,0.497273
8,8,x[7] -= 4 ; x[4] += 1 ; x[8] += 4 ; x[4] -= 4,10000.000000,10000.000000,10000.000000,10000.000000
9,9,x[7] -= 9 ; x[6] *= 200,10000.000000,10000.000000,10000.000000,10000.000000

In [77]:
data = data.sort_values(by=['o_1'])
data = data[data['o_1'] < 0.45]
data.shape

(26, 6)

In [78]:
data

,Unnamed: 0,Phenotype,o_1,o_2,o_3,o_4
455,455,x[7] -= 8 ; x[4] += 1 ; x[7] -= 7 ; x[2] += 1 ...,0.240118,0.240118,0.240118,0.240118
16,16,x[7] -= 8 ; x[4] += 1 ; x[7] -= 7 ; x[7] += 1 ...,0.250756,0.250756,0.250756,0.250756
92,92,x[7] -= 6 ; x[7] -= 6 ; x[2] += 1 ; x[7] -= 9 ...,0.263476,0.263476,0.263476,0.263476
31,31,x[7] -= 8 ; x[4] += 1 ; x[7] -= 7 ; x[2] += 1 ...,0.267581,0.267581,0.267581,0.267581
4,4,x[7] -= 6 ; x[7] -= 8 ; x[7] -= 7 ; x[6] += 0....,0.307164,0.307164,0.307164,0.307164
260,260,x[7] -= 7 ; x[7] -= 4 ; x[7] -= 7 ; x[7] -= 9,0.323427,0.323427,0.323427,0.323427
10,10,x[7] -= 4 ; x[7] -= 1 ; x[7] -= 6 ; x[2] += 1 ...,0.358287,0.358287,0.358287,0.358287
3,3,x[7] -= 6 ; x[6] *= 1.0 ; x[7] -= 8 ; x[7] -= ...,0.365866,0.365866,0.365866,0.365866
0,0,x[7] -= 6 ; x[6] *= 1.0 ; x[7] -= 8 ; x[7] -= ...,0.365933,0.365933,0.365933,0.365933
17,17,x[7] -= 6 ; x[7] -= 8 ; x[7] -= 7 ; x[6] += 0.3,0.374717,0.374717,0.374717,0.374717
164,164,x[7] -= 8 ; x[7] -= 9,0.410635,0.410635,0.410635,0.410635
15,15,x[7] -= 8 ; x[7] -= 9,0.410635,0.410635,0.410635,0.410635
23,23,x[7] -= 8 ; x[7] -= 7 ; x[6] += 500,0.411311,0.411311,0.411311,0.411311
5,5,x[7] -= 8 ; x[7] -= 8 ; x[2] += 1,0.418752,0.418752,0.418752,0.418752
73,73,x[7] -= 8 ; x[7] -= 8,0.419782,0.419782,0.419782,0.419782
74,74,x[7] -= 6 ; x[7] -= 9 ; x[6] += 1.2,0.428948,0.428948,0.428948,0.428948
18,18,x[7] -= 8 ; x[7] -= 7 ; x[6] += 0.4,0.428984,0.428984,0.428984,0.428984
58,58,x[7] -= 6 ; x[7] -= 4 ; x[7] -= 4 ; x[6] += 1.3,0.438200,0.438200,0.438200,0.438200
52,52,x[7] -= 7 ; x[7] -= 7,0.438236,0.438236,0.438236,0.438236
154,154,x[7] -= 9 ; x[7] -= 5,0.438236,0.438236,0.438236,0.438236
62,62,x[6] += 0.4 ; x[7] -= 8 ; x[6] += 0.6 ; x[7] -= 5,0.447531,0.447531,0.447531,0.447531
64,64,x[7] -= 8 ; x[4] += 1 ; x[7] -= 4 ; x[6] += 0....,0.447531,0.447531,0.447531,0.447531
22,22,x[7] -= 4 ; x[7] -= 9,0.447531,0.447531,0.447531,0.447531
54,54,x[7] -= 9 ; x[6] += 1000,0.448913,0.448913,0.448913,0.448913
79,79,x[7] -= 9 ; x[6] += 1000 ; x[6] -= 0.6,0.448950,0.448950,0.448950,0.448950
39,39,x[7] -= 9 ; x[7] -= 4 ; x[6] += 1.2 ; x[7] += ...,0.449599,0.449599,0.449599,0.449599

In [83]:
def apply_phenotype(array, phenotype):
    # Split the phenotype string into individual operations
    operations = phenotype.split(';')
    x = copy.deepcopy(array)
    # Iterate over each operation and execute it
    for operation in operations:
        # Strip any leading/trailing whitespace from the operation
        operation = operation.strip()
        
        # Use the exec function to execute the operation on the array
        if operation:
            exec(operation)

    return x


print(data['Phenotype'][31])
input_evolved = apply_phenotype(input, data['Phenotype'][31])
print(input_evolved)

x[7] -= 8 ; x[4] += 1 ; x[7] -= 7 ; x[2] += 1 ; x[7] -= 9 ; x[7] -= 9 ; x[6] += 1000 ; x[6] += 0.9 ; x[6] += 1.2 ; x[6] -= 1000
[  31    1    3    2    1    0 2303    3    5]

In [84]:
output = eval_model(model, torch.tensor(input_evolved, dtype=torch.float32))
print(output)

0.7324192523956299